a.button{
    position: relative;
    text-decoration: none;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    background:white;
    border-radius: 2em;
    text-align: center;
    padding: 0;
  
    &:hover{
       span{
            transform: translate3d(0,100%,0);
        }
        &::before{
            transform: translate3d(0,0,0);
        }
    }
    &.primary{
        background:  #ffc90e;
       @media only screen and (max-width: 767px){
        width: 12em;
       }

    }
    &.close{
        border: 1px solid black;
        background: white;
        color: black;
        &::before{
            background: black;
            color: white;
        }
    }
    &::before{
        position: absolute;
        background: white;
        content: attr(data-text);
        top: 0;
        left: 0;
        transform: translate3d(-100%,0,0);
    }
    span{
        transform: translate3d(0,0,0);
    }
    &::before,span{
        font-size: 10px;
        letter-spacing: 1px;
        display: block;
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 2em;
        transition: transform 0.2s ease-in-out;
        padding: 0 2.5em;
        height: 20px;
        text-align: center;
        padding-top: 7px;
    }
}
