@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Arvo");
@keyframes bounceIn {
  from,
    20%,
    40%,
    60%,
    80%,
    to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft; }

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }
@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }
@-webkit-keyframes bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); } }
@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); } }
.bounceOutLeft {
  -webkit-animation-name: bounceOutLeft;
  animation-name: bounceOutLeft; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?-dudrsi");
  src: url("../fonts/icomoon/icomoon.eot?#iefix-dudrsi") format("embedded-opentype"), url("../fonts/icomoon/icomoon.woff?-dudrsi") format("woff"), url("../fonts/icomoon/icomoon.ttf?-dudrsi") format("truetype"), url("../fonts/icomoon/icomoon.svg?-dudrsi#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-like:before {
  content: "\e90d"; }

.icon-swiss-knife:before {
  content: "\e90e"; }

.icon-talk:before {
  content: "\e908"; }

.icon-email:before {
  content: "\e907"; }

.icon-phone:before {
  content: "\e904"; }

.icon-location:before {
  content: "\e905"; }

.icon-arrow-down:before {
  content: "\e900"; }

.icon-menu:before {
  content: "\e906"; }

.icon-twitter:before {
  content: "\e902"; }

.icon-facebook:before {
  content: "\e903"; }

.icon-linkedin:before {
  content: "\e901"; }

.icon-instagram:before {
  content: "\e909"; }

.icon-graphic-design:before {
  content: "\e90c"; }

.icon-mobile-design:before {
  content: "\e90a"; }

.icon-web-design:before {
  content: "\e90b"; }

a.button {
  position: relative;
  text-decoration: none;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  background: white;
  border-radius: 2em;
  text-align: center;
  padding: 0; }
  a.button:hover span {
    transform: translate3d(0, 100%, 0); }
  a.button:hover::before {
    transform: translate3d(0, 0, 0); }
  a.button.close-primary {
    background: #ffc90e; }
  a.button.primary {
    background: #ffc90e; }
    @media only screen and (max-width: 767px) {
      a.button.primary::before, a.button.primary span {
        width: 13em; } }
  a.button.close {
    border: 1px solid black;
    background: white;
    color: black; }
    a.button.close::before {
      background: black;
      color: white; }
  a.button::before {
    position: absolute;
    background: white;
    content: attr(data-text);
    top: 0;
    left: 0;
    transform: translate3d(-101%, 0, 0); }
  a.button span {
    transform: translate3d(0, 0, 0); }
  a.button::before, a.button span {
    font-size: 10px;
    letter-spacing: 1px;
    display: block;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 2em;
    transition: transform 0.2s ease-in-out;
    padding: 0 2em;
    height: 20px;
    text-align: center;
    padding-top: 7px; }

::-webkit-scrollbar {
  width: 0;
  display: none; }

html {
  overflow: -moz-scrollbars-none; }

.md-modal {
  animation: bounceInLeft 0.8s linear forwards;
  display: none;
  overflow: auto;
  position: fixed;
  z-index: 500;
  height: 100%;
  width: 44em;
  left: 50%;
  margin-left: -22em; }
  @media only screen and (max-width: 767px) {
    .md-modal {
      width: 100%;
      left: 0;
      margin-left: 0; }
      .md-modal .md-content {
        padding: 2em !important; } }
  .md-modal .md-content {
    text-align: center;
    min-height: 100%;
    background: white;
    border-left: 5px solid #ffc90e;
    color: black;
    padding: 2em 4em; }
    .md-modal .md-content .section {
      padding: 4em 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      .md-modal .md-content .section:first-of-type {
        padding: 0;
        padding-bottom: 4em; }
      .md-modal .md-content .section .md-title {
        position: relative;
        margin-bottom: 3em;
        height: 7em;
        text-align: left; }
        .md-modal .md-content .section .md-title span.name {
          position: absolute;
          top: 50%;
          margin-top: -1.5em;
          text-transform: uppercase;
          font-size: 11px;
          color: rgba(0, 0, 0, 0.5); }
          @media only screen and (max-width: 375px) {
            .md-modal .md-content .section .md-title span.name {
              width: 20em; } }
          .md-modal .md-content .section .md-title span.name strong {
            font-size: 17px;
            font-weight: 500;
            color: black;
            display: block; }
        .md-modal .md-content .section .md-title span.avartar img {
          border-radius: 50%;
          height: 7em;
          position: absolute;
          right: 0;
          top: 0; }
        .md-modal .md-content .section .md-title span.avartar-done img {
          height: 7em;
          position: absolute;
          right: 0;
          top: 0; }
      .md-modal .md-content .section p {
        line-height: 1.5em;
        letter-spacing: 0.5px;
        text-align: justify; }
      .md-modal .md-content .section .img-done {
        width: 100%;
        height: auto; }
    .md-modal .md-content a {
      margin-top: 2em;
      margin-bottom: 2em; }

#md-service .md-title .avarta-icon {
  float: right;
  color: white;
  background: black;
  font-weight: bold;
  padding: 0.3em;
  border-radius: 50%;
  font-size: 5em;
  text-align: center; }
#md-service span.tag {
  color: black;
  background: rgba(0, 0, 0, 0.2);
  padding: 0.5em 1.5em;
  border-radius: 1.5em;
  font-size: 12px;
  margin: 0.3em;
  display: inline-block; }

#md-advantage .md-content .md-title .avarta-icon {
  float: right;
  color: white;
  background: black;
  font-weight: bold;
  padding: 0.3em;
  border-radius: 50%;
  font-size: 5em;
  text-align: center; }
#md-advantage .md-content h2 {
  text-align: left;
  font-size: 15px;
  text-transform: uppercase; }
#md-advantage .md-content ul {
  text-align: left;
  list-style-type: circle; }
  #md-advantage .md-content ul li {
    padding-bottom: 1em; }

.md-overlay {
  display: none;
  animation: bounceInLeft 0.8s linear forwards;
  position: fixed;
  z-index: 400;
  width: 100%;
  height: 100vh;
  background: black;
  opacity: 0.9; }

#md-contact {
  text-align: center; }
  #md-contact h2 {
    text-transform: uppercase;
    font-size: 1.5em; }
  #md-contact form {
    margin-top: 4em;
    padding-bottom: 2em; }
    @media only screen and (max-width: 767px) {
      #md-contact form {
        padding: 1em; } }
    #md-contact form fieldset {
      text-align: center;
      border: 1px solid yellow;
      margin: 0 auto;
      width: 80%; }
      #md-contact form fieldset legend {
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase; }
      #md-contact form fieldset input {
        width: 34%;
        margin: 2px;
        height: 2em;
        border: none;
        padding: 0.5em 1em; }
        @media only screen and (max-width: 767px) {
          #md-contact form fieldset input {
            width: 80%; } }
        #md-contact form fieldset input:focus {
          background: #ffc90e; }
      #md-contact form fieldset textarea {
        font-family: Arial, Helvetica, sans-serif;
        width: 74.3%;
        height: 4em;
        margin-top: 2px;
        padding: 0.5em 1em; }
        @media only screen and (max-width: 767px) {
          #md-contact form fieldset textarea {
            width: 80%; } }
        #md-contact form fieldset textarea:focus {
          background: #ffc90e; }
      #md-contact form fieldset .form-button {
        margin: 2em; }
        #md-contact form fieldset .form-button a {
          margin: 0 1em; }
          @media only screen and (max-width: 767px) {
            #md-contact form fieldset .form-button a {
              width: 6em;
              margin: 0.5em; } }
      #md-contact form fieldset p a {
        color: #ffc90e; }

.my-active {
  background: white !important; }

.dis-block {
  display: block !important;
  animation: bounceIn 0.8s linear forwards; }

.modal-block {
  display: block !important; }

.md-out {
  animation: bounceOutLeft 0.8s linear forwards; }

body {
  width: 100%;
  margin: 0 auto;
  font-family: "Arvo", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: white; }

header {
  position: fixed;
  width: calc(100% - 8em);
  height: 67px;
  padding: 0 4em;
  top: 2em;
  z-index: 300;
  opacity: 1; }
  @media only screen and (max-width: 375px) {
    header {
      padding-left: 2em; } }
  header #logo {
    text-decoration: none;
    color: white;
    font-size: 2em;
    display: inline-block;
    position: relative; }
    header #logo img {
      opacity: 1;
      height: 6vmax;
      width: 25vmax; }
  header #menu {
    display: inline-block;
    right: -45px;
    z-index: 200;
    width: 200px;
    height: 285px;
    position: fixed;
    opacity: 0.9;
    top: 43px;
    filter: alpha(opacity=80);
    /* For IE8 and earlier */ }
    header #menu #icon {
      top: 0em;
      position: absolute;
      z-index: 200;
      left: 4em;
      text-decoration: none; }
      header #menu #icon:hover span {
        color: #ffc90e; }
      header #menu #icon span {
        opacity: 1;
        color: white;
        font-size: 35px; }
    header #menu #menu-item {
      display: none;
      position: absolute;
      top: -1em;
      left: -7em;
      text-align: right;
      padding-top: 5em;
      padding-left: 1.5em;
      padding-right: 1.5em;
      padding-bottom: 1em;
      background: #504e4e; }
      header #menu #menu-item .item {
        margin-bottom: 10px;
        padding-top: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.1); }
        header #menu #menu-item .item a {
          color: white;
          text-decoration: none; }
        header #menu #menu-item .item:hover a {
          color: #ffc90e;
          text-decoration: none; }

.my-container #my-nav {
  position: fixed;
  top: 35%;
  left: 4em;
  z-index: 200; }
  .my-container #my-nav a {
    display: block;
    width: 4px;
    height: 4px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 50%; }
    .my-container #my-nav a:hover {
      background: wheat; }
.my-container .page {
  z-index: 100;
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: 0% 0px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  transition: all .3s ease-in-out;
  border-bottom: 3px solid black; }
  .my-container .page .page-image {
    position: absolute;
    width: 70vmin;
    height: auto;
    left: 50%;
    bottom: -40vmin;
    margin-left: -35vmin;
    opacity: 0.5;
    z-index: 100; }
  .my-container .page .wrap {
    z-index: 200;
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: alpha(opacity=60);
    /* For IE8 and earlier */ }
    .my-container .page .wrap .content {
      position: relative;
      z-index: 100;
      width: 80%;
      height: 60%;
      top: 24%;
      left: 13%;
      opacity: 1;
      filter: alpha(opacity=100);
      /* For IE8 and earlier */ }
      .my-container .page .wrap .content .left-content {
        position: relative;
        float: left;
        width: 30%; }
        .my-container .page .wrap .content .left-content h1 {
          user-select: none;
          font-family: "Montserrat", Helvetica, Arial, sans-serif;
          margin: 0;
          font-size: 55px;
          font-weight: 500;
          line-height: .9em;
          width: 33vmax; }
          @media only screen and (max-width: 767px) {
            .my-container .page .wrap .content .left-content h1 {
              font-size: 50px;
              width: 60vmax; } }
          @media only screen and (max-width: 568px) {
            .my-container .page .wrap .content .left-content h1 {
              font-size: 40px;
              width: 45vmax; } }
          @media only screen and (max-width: 375px) {
            .my-container .page .wrap .content .left-content h1 {
              font-size: 40px;
              width: 35vmax; } }
        .my-container .page .wrap .content .left-content p {
          user-select: none;
          width: 45vmax;
          line-height: 1.5em;
          letter-spacing: .5px; }
          @media only screen and (max-width: 767px) {
            .my-container .page .wrap .content .left-content p {
              width: 60vmax; } }
          @media only screen and (max-width: 568px) {
            .my-container .page .wrap .content .left-content p {
              width: 43vmax;
              text-align: justify; } }
          @media only screen and (max-width: 375px) {
            .my-container .page .wrap .content .left-content p {
              width: 35vmax; } }
      .my-container .page .wrap .content .right-content {
        position: relative;
        float: right;
        width: 40%;
        top: 50%; }
        @media only screen and (max-width: 767px) {
          .my-container .page .wrap .content .right-content {
            left: -2em; } }
        @media only screen and (max-width: 568px) {
          .my-container .page .wrap .content .right-content {
            top: 75%; } }
        @media only screen and (max-width: 375px) {
          .my-container .page .wrap .content .right-content {
            left: -3em;
            top: 80%; } }
        .my-container .page .wrap .content .right-content .my-a {
          font-size: 11px;
          font-weight: 100;
          width: 7.8em;
          position: absolute;
          top: 60%;
          left: 50%;
          text-align: right;
          color: white;
          border-top: 2px solid white;
          text-decoration: none;
          line-height: 1.5em;
          height: 6em; }
          .my-container .page .wrap .content .right-content .my-a span {
            background: #ffc90e;
            color: white;
            position: absolute;
            border-radius: 50%;
            padding: 5px;
            margin-top: 0.2em;
            right: 0;
            transition: all 0.2s;
            font-weight: bold;
            font-size: 1.5em; }
          .my-container .page .wrap .content .right-content .my-a:hover {
            text-decoration: none;
            border-top-color: #ffc90e; }
            .my-container .page .wrap .content .right-content .my-a:hover span {
              color: #ffc90e;
              background: white;
              transform: translateY(5px); }
.my-container #pg1 {
  background-image: url(../images/bg-section1.jpg); }
  @media only screen and (max-width: 767px) {
    .my-container #pg1 {
      background-image: url(../images/jpg/bg-section1-mobile.jpg); } }
  .my-container #pg1 .wrap {
    background: rgba(110, 171, 173, 0.7); }
.my-container #pg2 {
  background-image: url(../images/bg-section2.jpg); }
  @media only screen and (max-width: 767px) {
    .my-container #pg2 {
      background-image: url(../images/jpg/bg-section2-mobile.jpg); } }
  .my-container #pg2 .wrap {
    background: rgba(144, 117, 181, 0.7); }
.my-container #pg3 {
  background-image: url(../images/bg-section3.jpg); }
  @media only screen and (max-width: 767px) {
    .my-container #pg3 {
      background-image: url(../images/jpg/bg-section3-mobile.jpg); } }
  .my-container #pg3 .wrap {
    background: rgba(133, 149, 165, 0.7); }
.my-container #pg4 {
  background-image: url(../images/bg-section4.jpg); }
  @media only screen and (max-width: 767px) {
    .my-container #pg4 {
      background-image: url(../images/jpg/bg-section4-mobile.jpg); } }
  .my-container #pg4 .wrap {
    background: rgba(218, 154, 189, 0.7); }
.my-container #pg5 {
  background-image: url(../images/bg-section5.jpg); }
  @media only screen and (max-width: 767px) {
    .my-container #pg5 {
      background-image: url(../images/jpg/bg-section5-mobile.jpg); } }
  .my-container #pg5 .wrap {
    background: rgba(147, 203, 154, 0.7); }

footer {
  z-index: 300;
  position: fixed;
  bottom: 3em;
  left: 4em;
  line-height: 1.5em;
  letter-spacing: .5px;
  font-size: 12px; }
  @media only screen and (max-width: 767px) {
    footer {
      display: none; } }

/*# sourceMappingURL=main.css.map */
