.md-modal{
    @media only screen and (max-width: 767px){
        width: 100%;
        left: 0;
        margin-left: 0;
        .md-content{
            padding: 2em !important; 
        }

    }
    
    display: none;
    overflow: auto;	
    position: fixed;
    z-index: $z-index5;
    height: 100%;
    width: 44em;
    left: 50%;
    margin-left: -22em;
    .md-content{
        text-align: center;
        min-height: 100%;
        background: white;
        border-left: 5px solid $color-orange;
        color: $color-black;
        padding: 2em 4em ;
        .section{
            padding: 4em 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            &:first-of-type{
                padding: 0;
                padding-bottom: 4em;
            }
            
            .md-title{
                position: relative;
                margin-bottom: 3em;
                height: 7em;
                text-align: left;
                span.name{
                    @media only screen and (max-width: 375px) {
                        width: 20em;
                    }
                    position: absolute;
                    top: 50%;
                    margin-top: -1.5em;
                    text-transform: uppercase;
                    font-size: 11px;
                    color: rgba(0, 0, 0, 0.5);
                    strong{
                        font-size: 17px;
                        font-weight: 500;
                        color: $color-black;
                        display: block;
                    }
                }
                span.avartar{
                    img{
                        border-radius: 50%;
                        height: 7em;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
            }
            p{
                line-height: 1.5em;
                letter-spacing: 0.5px;
                text-align: justify;
            }
        }
        a{
            margin-top: 2em;
            margin-bottom: 2em;
        }
    }
}
#md-team{
    animation: bounceInLeft 0.8s linear forwards;
}
#md-service{
    animation: bounce 0.8s linear forwards;
    .md-title{
        .avarta-icon{
            
                float: right;
                color: white;
                background: black;
                font-weight: bold;
                padding: 0.3em;
                border-radius: 50%;
                font-size: 5em;
                text-align: center;
           
        }
    }
    span.tag{
        color: black;
        background: rgba(0, 0, 0, 0.2);
        padding: 0.5em 1.5em;
        border-radius: 1.5em;
        font-size: 12px;
        margin: 0.3em;
        display: inline-block;
    }
}

#md-advantage{
    animation: bounce 0.8s linear forwards;
    .md-content{
        .md-title{
            .avarta-icon{
            
                float: right;
                color: white;
                background: black;
                font-weight: bold;
                padding: 0.3em;
                border-radius: 50%;
                font-size: 5em;
                text-align: center;
           
        } 
        }
        h2{
            text-align: left;
            font-size: 15px;
            text-transform: uppercase
        }
        ul{
            text-align: left;
            list-style-type: circle;
            li{
                padding-bottom: 1em;
            }
        }
    }
}


.md-overlay{
    display: none;
    animation: bounceInLeft 0.8s linear forwards;
    position: fixed;
    z-index: 400;
    width: 100%;
    height: 100vh;
    background: black;
    opacity: 0.9;
}

#md-contact{

    text-align: center;
    h2{
        text-transform: uppercase;
        font-size: 1.5em;
    }
    form{
        @media only screen and (max-width: 767px) {
            padding: 1em;
        }
        margin-top: 4em;
        padding-bottom: 2em;
        fieldset{
            text-align: center;
            border: 1px solid yellow;
            legend{
                font-size: 25px;
                font-weight: bold;
                text-transform: uppercase;
            }
            input{
                @media only screen and (max-width:767px){
                    width: 80%;
                }
                &:focus{
                    background: $color-orange;
                }
                width: 34%;
                margin: 2px;
                height: 2em;
                border: none;
                padding: 0.5em 1em;
                
            }
            textarea{
                @media only screen and (max-width:767px){
                    width: 80%;
                }
                &:focus{
                    background: $color-orange;
                }
                font-family: Arial, Helvetica, sans-serif;
                width: 73%;
                height: 4em;
                margin-top: 2px;
                padding: 0.5em 1em;
            }
            .form-button{
                margin: 2em;
                a{
                    @media only screen and (max-width:767px) {
                        width: 6em;
                        margin: 0.5em;
                    }
                    margin: 0 1em;
                }
            }
            p{ 
                a{
                    color: $color-orange;
                }
            }


        }
    }
    
}