.my-active{
    background: white !important;
}
.dis-block{
    display: block !important;
    animation: bounceIn 0.8s linear forwards;
}
.modal-block{
    display: block !important;
}
body{
    width: 100%;
    margin: 0 auto;
    font-family: "Arvo", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: $color-white;
}
header{
    @media only screen and (max-width: 375px){
        padding-left: 2em;
    }
    position: fixed;
    width: calc(100% - 8em);
    height: 67px;
    padding: 0 4em;
    top: 2em;
    z-index: $z-index3;
    opacity: 1;

    #logo{
        text-decoration: none;
        color: $color-white;
        font-size: 2em;
        display: inline-block;
        position: relative;

        img{
            opacity: 1;
            height: 6vmax;
            width: 25vmax;
        }
    }
  
    #menu{
        display: inline-block;
        right: -45px;
        z-index: $z-index2;
        width: 200px;
        height: 285px;
        position: fixed;
        opacity: 0.9;
        top: 43px;
        filter: alpha(opacity=80); /* For IE8 and earlier */
        #icon{
            top: 0em;
            position: absolute;
            z-index: $z-index2;
            left: 4em;
            text-decoration: none;
            &:hover{
                span{
                    color: $color-orange;
                }
            }
            span{
                opacity: 1;
                color: white;
                font-size: 35px;
            }
        }
        #menu-item{
            display: none;
            position: absolute;
            top: -1em;
            left: -7em;
            text-align: right;
            padding-top: 5em;
            padding-left: 1.5em;
            padding-right: 1.5em;
            padding-bottom: 1em;
            background: #504e4e;
            .item{
                margin-bottom: 10px;
                padding-top: 10px;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                a{
                    color: $color-white;
                    text-decoration: none;
                }
                &:hover{
                    a{
                        color: $color-orange;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    
}
.my-container {
    #my-nav{
        position: fixed;
        top: 35%;
        left: 4em;
        z-index: $z-index2;

        a{
            display: block;
            width: 4px;
            height: 4px;
            margin: 10px 0;
            border: 1px solid white;
            border-radius: 50%;
            &:hover{
                background: wheat;
            }
        }
    }
    .page{
        z-index: $z-index1;
        position: relative;
        width: 100%;
        height: 100vh;
        background-position: 0% 0px;
        overflow: hidden; // important
		-webkit-overflow-scrolling: touch;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        transition: all .3s ease-in-out;
        border-bottom: 3px solid black;
        .page-image{
            position: absolute;
            width: 70vmin;
            height: auto;
            left: 50%;
            bottom: -40vmin;
            margin-left: -35vmin;
            opacity: 0.5;
            z-index: $z-index1;
        }
        .wrap{
            z-index: $z-index2;
            width: 100%;
            height: 100%;
            opacity: 1;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            .content{
                position: relative;
                z-index: $z-index1;
                width: 80%;
                height: 60%;
                top: 24%;
                left: 13%;
                opacity: 1;
                filter: alpha(opacity=100); /* For IE8 and earlier */
                .left-content{
                    position: relative;
                    float: left;
                    width: 30%;
                    h1{
                        user-select: none;
                        @media only screen and (max-width: 767px){
                            font-size: 50px;
                            width: 60vmax;
                        }
                        @media only screen and (max-width: 568px){
                            font-size: 40px;
                            width: 45vmax;
                        }
                        @media only screen and (max-width: 375px){
                            font-size: 40px;
                            width: 35vmax;
                        }
                        
                        font-family: "Montserrat", Helvetica, Arial, sans-serif;
                        margin: 0;
                        font-size: 55px;
                        font-weight: 500;
                        line-height: .9em;
                        width: 33vmax;
                    }
                    p{
                        user-select: none;
                        @media only screen and (max-width: 767px){
                            width: 60vmax;
                        }
                        @media only screen and (max-width: 568px){
                            width: 43vmax;
                            text-align: justify;
                        }
                        @media only screen and (max-width: 375px){
                            width: 35vmax;
                        }
                        width: 45vmax;
                        line-height: 1.5em;
                        letter-spacing: .5px;
                    }
                }
                .right-content{
                    @media only screen and (max-width: 767px){
                        left: -2em;
                    }
                    @media only screen and (max-width: 568px){
                        top: 75%;
                    }
                    @media only screen and (max-width: 375px){
                        left: -3em;
                        top: 80%;
                    }
                    position: relative;
                    float: right;
                    width: 40%;
                    top: 50%;
                    .my-a{
                        font-size: 11px;
                        font-weight: 100;
                        width: 7.8em;
                        position: absolute;
                        top: 60%;
                        left: 50%;
                        text-align: right;
                        color: $color-white;
                        border-top: 2px solid $color-white;
                        text-decoration: none;
                        line-height: 1.5em;
                        
                        .my-button{
                            width: 2.3em;
                            height: 1.7em;
                            border-radius: 50%;
                            color: white;
                            background: $color-orange;
                            text-align: center;
                            padding-top: 6px;
                            padding-right: 2px;
                            position: relative;
                            left: 5.6em;
                            transition: all 0.5s;
                            span{
                                font-size: 17px;
                                position: absolute;
                                left: 5.5px;
                                top: 4px;
                            }
                        }
                        &:hover{
                            text-decoration: none;
                            border-top-color: $color-orange;
                            .my-button{
                                color: $color-orange;
                                background: $color-white;
                                transition: transform 0.2s ease-in-out;
                                transform: translateY(5px);
                            }
                        }
                    }
                    
                }
            }
        }
    }
    #pg1{
        @media only screen and (max-width: 767px) {
            background-image: url(../images/jpg/bg-section1-mobile.jpg);
        }
        background-image: url(../images/bg-section1.jpg);
        .wrap{
            background: $bg-page1;
        }
    }
    #pg2{
        @media only screen and (max-width: 767px) {
            background-image: url(../images/jpg/bg-section2-mobile.jpg);
        }
        background-image: url(../images/bg-section2.jpg);
        .wrap{
            background: $bg-page2;
        }
    }
    #pg3{
        @media only screen and (max-width: 767px) {
            background-image: url(../images/jpg/bg-section3-mobile.jpg);
        }
        background-image: url(../images/bg-section3.jpg);
        .wrap{
            background: $bg-page3;
        }
    }
    #pg4{
        @media only screen and (max-width: 767px) {
            background-image: url(../images/jpg/bg-section4-mobile.jpg);
        }
        background-image: url(../images/bg-section4.jpg);
        .wrap{
            background: $bg-page4;
        } 
    }
    #pg5{
        @media only screen and (max-width: 767px) {
            background-image: url(../images/jpg/bg-section5-mobile.jpg);
        }
        background-image: url(../images/bg-section5.jpg);
        .wrap{
            background: $bg-page5;
        }
    }
}
footer{
    @media only screen and (max-width: 767px){
        display: none;
    }
    z-index: 300;
    position: fixed;
    bottom: 3em;
    left: 4em;
    line-height: 1.5em;
    letter-spacing: .5px;
    font-size: 12px;
}
