$z-index1 : 100;
$z-index2 : 200;
$z-index3 : 300;
$z-index4 : 400;
$z-index5 : 500;

//color
$color-white: white;
$color-gray: rgb(80, 78, 78);
$color-orange: #ffc90e;
$bg-page1: rgba(110, 171, 173, 0.7);
$bg-page2: rgba(144, 117, 181, 0.7);
$bg-page3: rgba(133, 149, 165, 0.7);
$bg-page4: rgba(218, 154, 189, 0.7);
$bg-page5: rgba(147, 203, 154, 0.7);

